<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>416120797073-5k7h3u4c4d6oplls6v4dtdkjap5btjcs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.416120797073-5k7h3u4c4d6oplls6v4dtdkjap5btjcs</string>
	<key>API_KEY</key>
	<string>AIzaSyAMOzVWzpqYvz6WJ2bP1C92eMXnViSgiCI</string>
	<key>GCM_SENDER_ID</key>
	<string>416120797073</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.languageStudy</string>
	<key>PROJECT_ID</key>
	<string>languages-study-9d484</string>
	<key>STORAGE_BUCKET</key>
	<string>languages-study-9d484.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:416120797073:ios:218bf1f190310e4e048c30</string>
	<key>DATABASE_URL</key>
	<string>https://languages-study-9d484-default-rtdb.firebaseio.com</string>
</dict>
</plist>